package 'sshguard'

config sshguard 'settings'
        # Full path to backend executable (required, no default)
        option backend '/usr/lib/sshg-fw-iptables'

        # List of log files to monitor. (optional, no default)
        #list files '/var/log/auth.log'
        #list files '/var/log/authlog'
        #list files '/var/log/maillog'

        # Shell command that provides logs on standard output. (optional, no default)
        option logreader '/sbin/logread -f -e dropbear'

        # Block attackers when their cumulative attack score exceeds 'threshold'.
        # Most attacks have a score of 10. (optional, default 30)
        option threshold '30'

        # Block attackers for initially 'block_time' seconds after exceeding 'threshold'.
        # Subsequent blocks increase by a factor of 1.5. (optional, default 120)
        option block_time '120'

        # Remember potential attackers for up to 'detection_time' seconds before
        # resetting their score. (optional, default 1800)
        option detection_time '1800'

        # Size of IPv6 subnet to block. Defaults to a single address, CIDR notation. (optional, default to 128)
        #option ipv6_subnet '128'

        # Size of IPv4 subnet to block. Defaults to a single address, CIDR notation. (optional, default to 32)
        #option ipv4_subnet '32'

        # Full path to PID file (optional, no default)
        option pid_file '/var/run/sshguard.pid'

        # Colon-separated blacklist threshold and full path to blacklist file. (optional, no default)
        #option blacklist_file '90:/var/lib/sshguard/enemies'

        # IP addresses listed in the whitelist_file are considered to be
        # friendlies and will never be blocked.
        #option whitelist_file '/etc/friends'
